<div data-ng-controller="homeCtrl as h">
    <h1>Run Automation</h1>
    <form name="tenantForm" data-ng-submit="h.createProject(tenantForm)" method="post" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectRef" class="required">Project Reference</label>
                    <input type="text" class="form-control" data-ng-model="h.command.projectRef"
                           placeholder="Project Reference (e.g. cost code for this project" id="projectRef"
                           name="projectRef" required>
                    <div data-ng-messages="tenantForm.projectRef.$error" data-ng-if="tenantForm.$submitted"
                         role="alert">
                        <div data-ng-message="required">Please enter the project reference</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="uri" class="required">URI</label>
                    <input type="text" class="form-control" data-ng-model="h.command.uri"
                           placeholder="URI - TODO" id="uri" name="uri" required>
                    <div data-ng-messages="tenantForm.uri.$error" data-ng-if="tenantForm.$submitted" role="alert">
                        <div data-ng-message="required">Please enter the URI</div>
                    </div>
                </div>
                <div class="form-group  ">
                    <label>Inventory Type</label>
                    <div>
                        <label class="radio-inline"><input type="radio" name="inventory" value="local"
                                                           data-ng-model="h.command.inventory">Local
                            File</label>
                        <label class="radio-inline"><input type="radio" name="inventory" value="host"
                                                           data-ng-model="h.command.inventory">Host</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hostPattern" class="required">Host Pattern</label>
                    <input type="text" class="form-control" data-ng-model="h.command.hostPattern"
                           placeholder="hostPattern - TODO" id="hostPattern" name="hostPattern"
                           data-ng-disabled="h.command.inventory=='local'"
                           data-ng-required="h.command.inventory=='host'">
                    <div data-ng-messages="tenantForm.hostPattern.$error" data-ng-if="tenantForm.$submitted"
                         role="alert">
                        <div data-ng-message="required">Please enter the host pattern</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="role" name="role" data-ng-model="h.command.role"
                               title="Role - TODO"/>Role
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="verbose" name="verbose" data-ng-model="h.command.verbose"
                               title="verbose - TODO"/>Verbose
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="check" name="check" data-ng-model="h.command.check"
                               title="check - TODO -"/>Check
                    </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="vars">Vars:</label>
                    <textarea class="form-control" rows="5" id="vars" name="vars" data-ng-model="h.vars"></textarea>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
