<div data-ng-controller="userResetPasswordRequestCtrl as rpr">
  <form name="resetPasswordForm" data-ng-submit="rpr.resetPassword(resetPasswordForm)" method="post" novalidate>
    <h3>Forgotten Password</h3>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <input class="form-control" type="email" id="email" name="email"
             data-ng-model="rpr.details.email"
             placeholder="Please enter your registered email addresses" required data-lowercase autofocus>
    </div>
    <div data-ng-messages="resetPasswordForm.email.$error" data-ng-if="resetPasswordForm.$submitted" role="alert">
      <div data-ng-message="required">Please enter your registered email address</div>
      <div data-ng-message="email">Email is not valid</div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Reset Password</button>
      <button class="btn btn-Cancel" type="button" data-ng-click="rpr.cancel()">Cancel</button>
    </div>
  </form>
</div>
