<div data-ng-controller="adminResetPasswordCtrl as rp">
  <form name="resetPasswordForm" data-ng-submit="rp.resetPassword(resetPasswordForm)" method="post" novalidate>
    <p class="required">Please enter your new password</p>

    <div class="input-group">
      <label class="sr-only" for="password">Password</label>
      <span class="input-group-addon"><i class="fa fa-key">*</i></span>
      <input class="form-control" type="password" data-ng-model="rp.credentials.password" id="password"
             data-ng-pattern="rp.$$dataType.PASSWORD" name="password" placeholder="Password" minlength="8"
             maxlength="255" required>
    </div>
    <div data-ng-messages="resetPasswordForm.password.$error" data-ng-if="resetPasswordForm.$submitted" role="alert">
      <div data-ng-message="required">Please choose a Password</div>
      <div data-ng-message="password">Please correct the entered password</div>
      <div data-ng-message="minlength">Password must be a minimum length of 8 and contain at least 1 digit and 1
        character
      </div>
      <div data-ng-message="pattern">Password must be a minimum length of 8 and contain at least 1 digit and 1
        character
      </div>
    </div>

    <div class="input-group">
      <label class="sr-only" for="passwordConfirm">Confirm Password</label>
      <span class="input-group-addon"><i class="fa fa-key">*</i></span>
      <input class="form-control" type="password" data-ng-model="rp.confirm.password"
             id="passwordConfirm" name="passwordConfirm" placeholder="Retype the password to confirm"
             data-match="rp.credentials.password" required>
    </div>
    <div data-ng-messages="resetPasswordForm.passwordConfirm.$error"
         data-ng-if="resetPasswordForm.$submitted" role="alert">
      <div data-ng-message="required">Please confirm your password</div>
      <div data-ng-message="match">The entered Passwords do not match</div>
    </div>

    <div class="input-group">
      <label class="sr-only" for="verificationCode">Confirm Password</label>
      <span class="input-group-addon"><i class="fa fa-lock"> *</i></span>
      <input class="form-control" data-ng-model="rp.credentials.verificationCode"
             id="verificationCode" name="verificationCode" placeholder="Validation Code" required>
    </div>
    <div data-ng-messages="resetPasswordForm.verificationCode.$error"
         data-ng-if="resetPasswordForm.$submitted" role="alert">
      <div data-ng-message="required">Please enter your validation code</div>
    </div>

    <div class="form-group">
      <button class="pull-right btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>